/venv/
/__pycache__/

/client/.idea/
/client/.gradle/
/client/build/
/client/identity/
/client/accounts.txt
/client/config.yml

/api/.idea/
/api/.gradle/
/api/build/

/viewer/.idea/
/viewer/previous_servers.json

/server/.idea/
/server/.gradle/
/server/build/
/server/jserver/build
/server/plugins/
/server/trusted.txt
